/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*main css*/


/*
  ========================================
  Grid
  ========================================
*/

body {
  margin: 0 auto;
  width: 100%;
  color: #888;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  
}
.heading {
  font-size: 60px;
  line-height: 44px;
  color: white;
}
h2 {
  font-size: 22px;
  margin:0 0 20px 0;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}
.float-left {
  border-top: 4px solid white;
  padding: 40px 0 22px 0;
  float: left;
  font-weight: 100;
  margin-left: 200px;
}
.clear-float {
  clear: both;
}
.right-top {
  position: relative;
  left: 300px;
  top: 55px;
}
h6, h4 {
  margin: 0 auto;
  line-height: 38px;
  text-align: center;
}
h4 {
  font-size: 35px;
  color: darkcyan;
  margin-top: 40px;
}
h6 {
  font-size: 25px;
  margin: 0 230px 0 230px;
  color: grey;
  font-weight: 100;
}
h3 {
  color: darkcyan;
}
p {
  position: relative;
  left: 55px;
  font-size: 22px;
  margin-bottom: 25px;
  color: 
}
.box {
  width: 150px;
  padding: 20px;
  border-radius: 5px;
  border: 0.5px solid white;
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto;
}
.inline-block {
  display: inline-block;
  width: 280px;
  margin: 30px 40px 50px 0px;
  color: darkslategrey;
}
.elements {
  display: inline-block;
}
h5 {
  font-size: 18px;
  color: grey;
}
.footer-left {
  float: left;
  margin:35px 0 25px 220px;
}
.right-bottom {
  margin-left: 690px;
  padding: 37px;
}
.bluebackground {
  background-color: darkslategrey;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  padding-bottom: 30px;
}
.marginal-class {
  margin: 0 0 20px 0;
}
.subheading-color {
  color: darkslategrey;
  line-height: 30px;
}
.left-margin {
  margin-left: 200px;
}
.bottom-left {
  color: white;
  font-size: 15px;
}
.offset-left {
  margin-left: 100px;
}
.bluebackgroundbottom {
  background-color: darkslategrey;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}
.speaker-section-background {
  background:  linear-gradient(to right, #a1d3b0, #f6f1d3);
  overflow: hidden;
}
.speaker-margins {
  margin: 40px;
}
.blue-background-bottom-speaker {
  background-color: darkslategrey;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding-bottom: 200px;
}






















